.logo{
    width: 3%;
    margin-right: 10px;
}
.pad{
    padding: 5px;
}
header{
    border-radius: 10px;
    border: solid 2px rgb(128, 128, 128);
}
body{
    border-radius: 10px;
    border: solid 2px rgb(128, 128, 128);
}
.h-50{
    height: 50vh;
}